<%- include('./partials/head') %>

<main>
  <h1> <a href="/"> 🍌 Githyves</h1></a>
  <h2>Welcome <%= user.login %></h2>

  <section>
    <% projects.forEach(project => { %>
        <article>
          <h2><%= project.name%></h2>
          <p><%= project.description %></p>
          <a class="github" href="<%= project.url %>" alt="Watch <%= project.name %> on GitHub"><span>Browse on GitHub</span></a>
        </article>
    <% }) %>
      </section>
</main>

<%- include('./partials/foot') %>

