<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class="welcome">
  <section class="user">
    <img src="<%= user.avatar_url %>" alt="gebruikers profielfoto" />
    <p><%= user.login %></p>
    <div>
      <span><%= userStatus.emoji %></span>
      <p><%= userStatus.message %></p>
    </div>
  </section>

  <section class="repositories">
    <% projects.forEach(project => { %>
    <article>
      <a class="github" href="<%= project.url %>" alt="Watch <%= project.name %> on GitHub"
        ><h2><%= project.name%></h2></a
      >
      <p><%= project.description %></p>
      <ul>
        <% project.languages.nodes.forEach(language => { %>
        <li><%= language.name %></li>
        <% }) %>
      </ul>
    </article>
    <% }) %>
  </section>

  <section class="wijzig-profiel">
    <!-- div voor de schaduw -->
    <div>
      <h3>Pimp mijn profiel!</h3>
    </div>
    <ul>
      <li>
        <button type="button" class="tk_btn" id="btnTk">Tekst kleur</button>
      </li>
      <li>
        <button type="button" class="font_btn" id="btnFont">Font</button>
      </li>
      <li>
        <button type="button" class="achtergrond_btn" id="btnAchtergrond">Achtergrond</button>
      </li>
      <li>
        <button type="button" class="pins_btn" id="btnPins">Pins</button>
      </li>
    </ul>
  </section>

  <section class="vrienden">
    <!-- Deze div herhalen voor elke vriend  -->
    <div class="vriend1">
      <!-- profiel foto -->
      <img src="user image" alt="profiel foto vriend" />
      <!-- Nummer van repositories -->
      <p></p>
    </div>
  </section>

  <%- include('./partials/foot') %>
</main>
