<%- include('./partials/head') %> <%- include('./partials/header') %>
<main class="welcome">
	<section class="user">
		<img src="<%= user.avatar_url %>" alt="gebruikers profielfoto" />
		<h2><%= user.login %></h2>
		<% if(userStatus){ %>
		<div>
			<span><%= userStatus.emoji %></span>
			<p><%= userStatus.message %></p>
		</div>
		<% } %>
		<a class="button button-orange" href="">Pimp mijn profiel</a>
		<a class="logout" href="/logout">log out</a>
	</section>

	<section class="repositories">
		<!-- <h2>Repositories</h2> -->
		<% projects.forEach(project => { %>
		<article>
			<a
				class="github"
				target="_blank"
				href="<%= project.url %>"
				alt="Watch <%= project.name %> on GitHub"
				><h3><%= project.name%></h3></a
			>
			<p><%= project.description %></p>
			<ul>
				<% project.languages.nodes.forEach(language => { %>
				<li><%= language.name %></li>
				<% }) %>
			</ul>
		</article>
		<% }) %>
	</section>

	<section class="vrienden">
		<h2>Vrienden</h2>
		<ul>
			<% followers.forEach(follower => { %>
			<li class="vriend">
				<img
					src="<%= follower.avatarUrl %>"
					alt="profielfoto van <%= follower.name %>"
				/>
				<!-- Nummer van repositories -->
				<a href="/profile/<%= follower.login %>">
					<%= follower.login %> (<%= follower.following.totalCount %>)
				</a>
			</li>
			<% }) %>
		</ul>
	</section>
</main>
<%- include('./partials/foot') %>
